<h1>Thanks for making a pledge to our super kickziblegogostarter project!</h1>

<%- if flash[:warning] %>
  <p class="error"><strong><%= flash[:warning] %></strong></p>
<%- end %>

<%= form_for @pledge do |form| %>
  <p>
    <%= form.label :name %><br/>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :amount %><br/>
    <%= form.text_field :amount %>
  </p>

  <div id="checkout"></div>
  <button type="submit">Pledge!</button>
<%- end %>

<script>
  braintree.setup("<%= j(@client_token) %>", "dropin", {
    container: "checkout"
  });
</script>